#container{
    display: flex;
    width: 500px;
    height: 650px;
    border: 1px black solid;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background-color: aquamarine;
    padding: 5px;
}
#display{
    width:96%;
    height:100px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    font-size: 70px;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.button{
    box-sizing: border-box;
    width:24%;
    height:110px;
    border:1px solid black;
    border-radius: 15px;
    font-size: 50px;
    background-color: aliceblue;
    transition: background-color 0.5s;
}

.button:active{
    background-color: grey;
}